.parent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.div1 {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.div2 {
  display: flex;
}
.div3 {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.div1 > *,
.div2 > *,
.div3 > * {
  flex-basis: 50%;
}

.homepage-center-container {
  display: flex;
  width: 100%;
}
